<!doctype html>

<style>
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}

	main {
		width: 100vw;
		height: 100vh;
		padding: 20px 100px;
		display: flex;
		flex-flow: column;
	}

	h1 {
		flex: none;
		margin: 10px 0;
	}

	ul {
		flex: 1 1 auto;
		border: 2px solid #ddd;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;
		padding: 3px 20px;
		border-bottom: 1px solid #ddd;
		font-size: 13px;
		display: flex;
		justify-content: space-between;
	}

	li:hover {
		background: lemonchiffon;
	}
	
	li span {
		display: flex;
	}

	li span a {
		margin-left: 10px;
	}
</style>

<script>
	const loaded = new Promise(r => window.addEventListener("load", r))
	const files_ready = fetch(location.href.replace("file", "info")).then(e => e.json())

	Promise.all([loaded, files_ready]).then(([, files]) => {
		const esc = s => {
			const d = document.createElement("div")
			d.textContent = s
			return d.innerHTML
		}
		const html = (tpl, ...values) => {
			return tpl.reduce((a, b, i) => {
				const inner = values[i - 1] || ""
				return a + (inner.html ? inner.html : esc(inner)) + b
			})
		}
		document.body.innerHTML = html`
			<main>
				<h1>${location.pathname.slice("/file".length) || "/"}</h1>
				<ul>
					${{
						html: files.map(e => {
							return html`
								<li>
									<a href="/file${e.path}">${e.name}</a>
									<span>
										<a href="/edit${e.path}" ${e.type === "file" ? "" : "hidden"}>編集</a>
										<a href="/info${e.path}">情報</a>
									</span>
								</li>
							`
						}).join("\n")
					}}
				</ul>
			</main>
		`
	})
</script>