<!doctype html>
<meta charset="utf-8" />

<style>
	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}

	.window {
		width: 100vw;
		height: 100vh;
		display: flex;
	}

	.main {
		display: flex;
		flex-flow: column;
		flex: 1 1 auto;
		resize: none;
	}

	.topbar {
		background: #555;
		border-bottom: 1px solid #333;
		padding: 3px;
		text-align: right;
	}

	.lang {
		width: 120px;
		padding: 2px 6px;
	}

	.editor-container {
		margin-top: 10px;
		flex: 1 0 auto;
	}

	.sub {
		flex: 0 0 100px;
		padding: 5px;
		display: flex;
		flex-flow: column nowrap;
		background: #555;
		border-left: 1px solid #333;
	}

	.sub button {
		padding: 5px;
		margin-bottom: 5px;
	}
</style>

<div class="window">
	<div class="main">
		<div class="topbar">
			<select class="lang"></select>
		</div>
		<div class="editor-container">{{ text }}</div>
	</div>
	<div class="sub">
		<button class="save">save</button>
		<button class="open">open</button>
		<button class="delete">delete</button>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs/loader.js"></script>
<script>
	const lang_select = document.querySelector(".lang")
	const editor_container = document.querySelector(".editor-container")
	const save_button = document.querySelector(".save")
	const open_button = document.querySelector(".open")
	const delete_button = document.querySelector(".delete")
	const default_value = editor_container.textContent
	editor_container.innerHTML = ""

	require.config({ paths: { vs: "https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.16.2/min/vs" } })
	require(["vs/editor/editor.main"], () => {
		for (const lang of monaco.languages.getLanguages()) {
			lang_select.append(new Option(lang.id))
		}

		const editor = monaco.editor.create(editor_container, {
			value: default_value,
		})

		lang_select.onchange = eve => {
			monaco.editor.setModelLanguage(editor.getModel(), eve.target.value)
		}

		save_button.onclick = async eve => {
			const text = editor.getValue()
			const path = location.pathname.replace("edit", "upload")
			const payload = {
				body: text,
				type: "string",
			}
			const result = await fetch(path, {
				method: "POST",
				headers: {
					"content-type": "application/json",
				},
				body: JSON.stringify(payload),
			}).then(e => e.json())
			if (result.ok) {
				alert(result.action)
			} else {
				alert("エラー: " + result.error)
			}
		}
		
		open_button.onclick = eve => {
			open(location.pathname.replace("edit", "file"))
		}
		
		delete_button.onclick = async eve => {
			const path = location.pathname.replace("edit", "delete")
			const result = await fetch(path, {
				method: "POST",
				headers: {
					"content-type": "application/json",
				},
				body: "{}",
			}).then(e => e.json())
			if (result.ok) {
				alert(result.action)
			} else {
				alert("エラー: " + result.error)
			}
		}
	})
</script>